{% extends 'base.html.twig' %}

{% block title %}Rédigée une offre {% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Rédigée une offre </h1>
        {{ include('annoucement/_form.html.twig') }}
    </div>
{% endblock %}
